body {
    background: hsl(217, 54%, 11%);

    .nft {
        background-color: hsl(216, 50%, 16%);
        justify-content: center;
        flex-direction: column;
        text-align: center;
        
    }
    .eth {
        display: inline-flex;
        gap: 5vw;
        
        .fav {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .left{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .btc{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

